menu "ESPKM BLE"

config ESPKM_BLE_ENABLE
    bool "Enable BLE (scaffold)"
    default y

config ESPKM_BLE_TASK_STACK
    int "ble_task stack (bytes)"
    default 4096
    depends on ESPKM_BLE_ENABLE

config ESPKM_BLE_TASK_PRIO
    int "ble_task priority"
    default 7
    depends on ESPKM_BLE_ENABLE

config ESPKM_BLE_DEVICE_NAME
    string "BLE device name"
    default "espkm-hid2"
    depends on ESPKM_BLE_ENABLE

config ESPKM_BLE_MANUFACTURER
    string "BLE DIS manufacturer name"
    default "Espressif"
    depends on ESPKM_BLE_ENABLE

config ESPKM_BLE_MODEL
    string "BLE DIS model number"
    default "espkm-v2"
    depends on ESPKM_BLE_ENABLE

endmenu
